:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
}
